.tile.is-ancestor:nth-child(2n + 1) > .tile > .tile.is-child:nth-child(2n),
.tile.is-ancestor:nth-child(2n) > .tile > .tile.is-child:nth-child(2n + 1) {
  background-color:blue;
}

.column {
  border: 20px inset black;
}
